* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

.btn {
  display: block;
  margin: 30px auto;
  background: green;
  color: #fff;
  padding: 10px 30px;
  border-radius: 99px;
  position: relative;
  overflow: hidden;
}
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 0;
  background: red;
  transition: width 0.3s;
}
.btn:hover::before {
  width: 100%;
}
.btn span {
  position: relative;
}
