* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: Arial, sans-serif;
  line-height: 1.4;
  color: #333;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
}
.posts {
  padding: 20px 0;
}
.posts .row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.posts .col-left {
  width: 28%;
}
.posts .col-center {
  flex: 1;
}

.posts .col-right {
  width: 23%;
}
.posts .col-left .post-item {
  border-bottom: 1px solid #efefef;
  padding-bottom: 8px;
  margin-bottom: 8px;
}
.posts .col-left .post-item a {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}
.posts .col-left .post-item img {
  width: 40%;
}
.posts .col-left .post-item h3 {
  flex: 1;
  font-size: 1.6rem;
}
.posts h1 {
  margin: 15px 0;
  font-size: 2.8rem;
}
.posts ul {
  list-style: none;
  font-weight: 700;
}
.posts .col-right .post-item img {
  margin-bottom: 10px;
}
.posts .col-right .post-item {
  margin-bottom: 25px;
}
.posts .col-right .post-item h3 {
  font-size: 1.6rem;
}

@media screen and (max-width: 1220px) {
  .container {
    padding: 0 15px;
  }
}

@media screen and (max-width: 991.98px) {
  .posts .col-right {
    width: 100%;
    display: flex;
    gap: 15px;
    order: 2;
  }
  .posts .col-left {
    width: 35%;
    order: 1;
  }
}

@media screen and (max-width: 767.98px) {
  .posts .col-left .post-item h3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

@media screen and (max-width: 575.98px) {
  .posts .col-right {
    order: 1;
  }
  .posts .col-left {
    order: 2;
    width: 100%;
  }
}
